<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/header.ejs") %>

    <%- include("./partials/noteApp.ejs") %>

    <% for(let index=0; index < note.length; index++) { %>
        <h4><%= note[index].titulo %></h4>
          <%= note[index].description %>
<% } %>

<%- include("./partials/footer.ejs") %>

</body>

</html>