<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle del Producto</h1>
    <form action="/products" method="post">
        <label for="fname">Id:</label><br>
        
        <input type="file" id="id"    name="id" value="<%=products[index].id %>" placeholder="id">
        
        <label for="fname">Nombre:</label><br>
        
        <input type="text" id="nombre"    name="nombre" value="<%=products[index].nombre %>" placeholder="nombre">

        <label for="fname">Descripción:</label><br>
        
        <input type="text" id="desripcion"    name="descripcion" value="<%=products[index].descripcion%>" placeholder="descripcion">

        <label for="fname">Precio:</label><br>
        
        <input type="number" id="precio"    name="precio" value="<%=products[index].precio%>" placeholder="precio">

        <label for="fname">Venta:</label><br>
        
        <input type="text" id="enVenta"    name="enVenta" value="<%= products[index].enVenta %>" placeholder="enVenta">

        <button type="submit">Enviar</button>
    </form> 




<!--Copia de rutina-->

    <div class = "vehiculos">
        <% for(let index=0; index < products.length; index++) { %>
          
        <!-- <a href="/detalle/products[index].id ">  -->
          
            <div class = "vehiculos2">
            <article>
                       
              <p class="opciones">
                  <button>
                      <h3><%= products[index].nombre %></h3>
                </button>
                      <h4>Id: <%= products[index].id %></h4>
                      <h5>Descripcion: <%= products[index].descripcion %></h5>
                      <h5>Precio: <%= products[index].precio %></h5>
                      <h5>Condicion: <%= products[index].enVenta %></h5>
                      
                      <h4><a style="background-color: rgb(127, 255, 138);"href="products/detalleProducto/:id"<%= products[index].id %>" >Detalle</a></h4>
                      <h4><a style="background-color: rgb(11, 201, 96);"href="/products/edit/:id/"<%= products[index].id %>" >Editar</a></h4>
                      <h4><a style="background-color: rgb(156, 19, 184);"href="/products/delete/:id"<%= products[index].id %>" >Borrar</a></h4>
                      
                      
                      
                     <!--
                      <p style="color: red;">El primer párrafo es rojo.</p>
                      -->
              </p>
         
           </article>
          </div>
                           
        <% } %>
  

      </div> <!-- fin class = "vehiculos" -->
    
      <!-- fin class vehiculos -->





</body>
</html>