<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %>

<body>

    <%- include("../partials/header.ejs") %>

<div class="container">
    <h1>Detalle del Producto</h1>
        <h4>Id: <%= filteredNote.id %></h4>
        <h5>Descripcion: <%= filteredNote.descripcion %></h5> 
</div>

    <%- include("../partials/footer.ejs") %>

</body>
</html>